{% extends 'sliced/layout.html' %}
{% load static %}

{% block body %}
<div class="container-fluid" class="bg-secondary text-dark mt-4">
    <h1 align="center" class="bg-secondary text-white mt-4">List Portfolio</h1> 
</div>
<div class="container-fluid"></div>
    <div class="row">
        <div class="col-md-12 mt-4 mx-2 text-white">
            <a class="" href="{% url 'addportfoli' %}" ><button type="button" class="btn btn-warning d-block m-auto">Add Portfolio</button>
            </button></a>
            <br><br>
        </div>
    </div>
</div>
    <div class="container">
        <div class="row px-4 flex-wrap">
            {% for i in data %}
            <div class="card mt-4 mr-4 shadow" style="width: 18rem;">
                <img class="card-img-top" src="{{i.coverImage.url}}" width="200px" height="200px" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title text-dark">{{i.title}}</h5>
                  <p class="card-text">{{i.photography_id.photography_name | upper}}</p>
                  <div class="d-flex justify-content-start">
                    <a href="{% url 'detailPortfolio' i.id %}" class="btn btn-warning mr-3">View</a>
                  <a href="{% url 'deletePortfolio' i.id %}" class="btn btn-dark">Delete</a>

                  </div>
                </div>
              </div>
            {% endfor %}
            
        </div>
    </div>

{% endblock %}